* {
    margin: 0;
    padding: 0;
}

:root {
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi: 500;
    --fw-bold: 700;
    --fs-h1: 1.5rem;
    --fs-h2: 2.25rem;
    --fs-body: 1rem;
    --fs-xl: 4.5rem;
    --clr-light: #fff;
    --clr-gray: #989898;
    --clr-dark: #444;
    --clr-accent: #D06D6D;
    --clr-accent-dark: #613131;
  }


body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-image:url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
    background-size: cover;
    height: 100vh;
    color: aliceblue;
   
}

.weather {

    text-align: left;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 8%;
    width: 100%;
    max-width: 420px;
    padding:2.5em;

}



h2 {
    margin-top: 0.6em;
}

input {

    outline: none;
   
    font-size: 1.3rem;

    padding: 0.5rem;
    border: none;
    width: 80%;
    border-radius: 1.5rem;
    
    background-color: rgba(71, 63, 63, 0.3);
    color: white;
}

.btn {

    outline: none;
   
    font-size: 1.3rem;

    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: rgba(71, 63, 63, 0.3);;
    color: white;
   
    margin:0.2rem;
    padding: 0.4rem 0.55rem;
  
    border-radius: 50%;

}

.btn:hover{
    background-color: #7c7c7c6b;
}

.display {
    line-height: 2;
    font-size: 1.2em;
    font-weight: var(--fw-bold);
}
.temp {
    font-size: 2.2em;
    font-weight: 250;
}

.icon-type {
    display: flex;
    align-items: center;
    margin: 0;
}

.des {
    text-transform: capitalize;
    margin-left: 0.7rem;

}
/*
.display.load{
    display: flex;
    visibility: hidden;
 
}




.load::after {
    visibility: visible;
    content: 'Fetching Weather.....';
    color: white;
}

*/